In [ ]:
import pandas as pd

In [ ]:
a=[1,7,2,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
3    2
dtype: int64

In [ ]:
print(myvar[0])

1

In [ ]:

a=[1,7,2]
myvar = pd.Series(a, index =["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
print(myvar["y"])

7

In [ ]:
import pandas as pd
s1=pd.Series([-3,-1,1,3,5 ,'gaurav',7.3])
print(s1)

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6       7.3
dtype: object

In [ ]:
s1[:2]

0    -3
1    -1
dtype: object

In [ ]:
print(s1[2])

1

In [ ]:
a=[1,7,2]
myvar=pd.Series (a,index=['x','y','z'])
print(myvar)
print(myvar ["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
calories={"day1":420,"day 2":345,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1     420
day 2    345
day3     390
dtype: int64

In [ ]:
print(s1[[2,1,0]])

2     1
1    -1
0    -3
dtype: object

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [ ]:
data={
    "calories":[420,345,390],
    "duration":[50,40,45]
}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       345        40
2       390        45

In [ ]:
data={'Name':['tom','jack','steve','ricky'],'Age':[28,34,29,42]}
df=pd.DataFrame(data,index=['rank 1','rank 2','rank 3','rank 4'])

In [ ]:
print(df)

         Name  Age
rank 1    tom   28
rank 2   jack   34
rank 3  steve   29
rank 4  ricky   42

In [ ]:
print(calories["day 2"])

345

In [ ]:
print(df.loc["rank2"])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, rank 1 to rank 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 268.0+ bytes

In [ ]:
df.dtypes

Name    object
Age      int64
dtype: object

In [ ]:
df.columns

Index(['Name', 'Age'], dtype='object')

In [ ]:
df.size

8

In [ ]:
df.describe()

             Age
count   4.000000
mean   33.250000
std     6.396614
min    28.000000
25%    28.750000
50%    31.500000
75%    36.000000
max    42.000000

In [ ]:
print(df)

         Name  Age
rank 1    tom   28
rank 2   jack   34
rank 3  steve   29
rank 4  ricky   42